.App {
  height: 100%;
  text-align: center;
  background-image: url("./bg-nighttime.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 6rem 0;
}

.quotes-div {
  color: white;
  display: flex;
}

.refresh-icon {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  cursor: pointer;
}
.refresh-icon:hover{
  color: white;
  background-color: white;
}
.aditional-data{
  transition: .5s ease-in-out;
}