* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  color: #fff;
}

.App {
  height: 100vh;
  text-align: center;
  background-image: url("./bg-nighttime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-left: 8rem;
  overflow: hidden;
}

.quotes-div {
  color: white;
  display: flex;
  /* text-align: left; */
  margin: 4rem 0 0 0;
  width: 57.3rem;
  gap: 6;
}

.refresh-icon {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  cursor: pointer;
}

.refresh-icon:hover {
  color: white;
  background-color: white;
}

.additional-data {
  transition: .5s ease-in-out;
  background: rgba(255, 255, 255, .75);
  backdrop-filter: blur(20.3871px);
  height: 100vh;
}

.switch {}

.quotes {
  font-size: 1.2rem;
  /* line-height: 2.8rem; */
  width: 32.4rem;
  text-align: left;
  margin-bottom: 0;
}

.author {
  text-align: left;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 8rem;
}

.time-div {
  background-color: green;
  display: flex;
  align-items: center;
  width: 60%;
  text-transform: uppercase;
  padding: 0rem;
}

.moon {
  width: 1.7rem;
  height: 1.7rem;
  object-fit: cover;
}
.greeting{
  font-size: 1.2rem;
  font-weight: normal;
}
.time{
  font-size: 8.938rem;
  display: block;
  text-align: left;
  font-weight: 700;
  background-color: pink;
}

@media (min-width: 768px) {

  .App {
    padding-left: 5rem;
  }

  .quotes-div .quotes {
    width: 34rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .author {
    margin-left: 0;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
  }
}